QPushButton {
    background-color: rgb(40, 40, 40);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    margin: 1px;
}

QPushButton:hover {
    background-color: rgb(35, 35, 35);
}
